@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default";

@plugin "daisyui" {
    themes: all;
};

body {
  font-family: 'Poppins', sans-serif;
}